In [36]:
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
from datetime import datetime, timedelta
import plotly.graph_objects as go
import datetime
import pandas as pd
import tweepy
import csv
import os
import time
from dateutil import tz
import glob
import quandl as q
import re
import streamlit as st
st.set_page_config(layout="wide")


# get all csv file names - already scraped users
extension = 'csv'
all_twitter_user_scraped_csvs = glob.glob(
    'twitterdata\\*.{}'.format(extension))  # CHANGE FOR SHARE STREAMLIT to /
# filter the price csv
all_twitter_user_scraped_csvs = [
    k for k in all_twitter_user_scraped_csvs if 'BITFINEX' not in k]
# filter the price csv
all_twitter_user_scraped_csvs = [
    k for k in all_twitter_user_scraped_csvs if 'relevant_words' not in k]

display_name_all_twitter_user_scraped_csvs = [
    i.split(' ', 1)[0].split('twitterdata\\')[1] for i in all_twitter_user_scraped_csvs]


# map name back to filename:
user_selection_list_containing_twitter_user = [
    k for k in all_twitter_user_scraped_csvs if "100trillionUSD " in k]
user_selection_list_containing_twitter_user

['twitterdata\\100trillionUSD 1303661563291807745.csv']

In [37]:
tweet_data = pd.read_csv("{}".format('twitterdata\\cryptocobain 1424552429123670018.csv'))
tweet_data

,id,created_at,text
0,1456958476261986310,2021-11-06 12:15:44+00:00,@Darrenlautf @lawmaster Have fun standing stil...
1,1456943947973120001,2021-11-06 11:18:00+00:00,@PostFlashloan Yeah this guy is a total dick c...
2,1456943369549139981,2021-11-06 11:15:42+00:00,@KGeorgee He told me about it in a tutoring se...
3,1456942533079150599,2021-11-06 11:12:23+00:00,@Nakameowdough There was a group of like 7 fri...
4,1456942212680458242,2021-11-06 11:11:06+00:00,@CatchMeStacking Private island off the east c...
...,...,...,...
3237,1424560557676449794,2021-08-09 02:37:58+00:00,@PepeXBT in the metaverse you're still fat
3238,1424559332889333760,2021-08-09 02:33:06+00:00,"Sushi team unrivaled, got an answer on twitter..."
3239,1424559107663671298,2021-08-09 02:32:12+00:00,@josephdelong @0xMaki THANK YOU ur the best ht...
3240,1424555382161256451,2021-08-09 02:17:24+00:00,@jebus911 Pretentious art kid meets crypto virgin
3241,1424552429123670019,2021-08-09 02:05:40+00:00,SushiSwap doesnt even work for me lol pls fix ...

In [38]:
list_of_dfs = []
for user_file in user_selection_list_containing_twitter_user:
    tweet_data = pd.read_csv("{}".format(user_file))
    list_of_dfs.append(tweet_data)

tweet_data = pd.concat(list_of_dfs)
tweet_data

,id,created_at,text
0,1456985396815044615,2021-11-06 14:02:42+00:00,RT @WClementeIII: This week I sat down with bo...
1,1456900938317418497,2021-11-06 08:27:06+00:00,@Mynima4 ðŸŒ¹
2,1456900725548666882,2021-11-06 08:26:15+00:00,@fuserleer ðŸŒ¹
3,1456898176691097602,2021-11-06 08:16:07+00:00,Movie tip for the weekend: V for Vendetta! It ...
4,1456763288721649667,2021-11-05 23:20:08+00:00,"@geoff_l @Rager I wish that were true, however..."
...,...,...,...
3243,1303680180423196673,2020-09-09 13:02:30+00:00,"RT @PeterMcCormack: 50,000 downloads in 5 days..."
3244,1303679409065545731,2020-09-09 12:59:26+00:00,@JohnOdetteMD those 5 people are of course ins...
3245,1303667086745628706,2020-09-09 12:10:29+00:00,"@StuartMFoulkes excel macro is visual basic, i..."
3246,1303664849889759232,2020-09-09 12:01:35+00:00,@liquigate @quirex_ involved with bitcoin is n...
3247,1303661563291807746,2020-09-09 11:48:32+00:00,@hmazawi question is about working in finance ...

In [13]:
for user in user_selection_list_containing_twitter_user:
    # if the file was created longer than 24 hours ago
    if os.path.getmtime(user) + 60*60*24 > time.time():
        print(os.path.getmtime(user))
    # else:
    #     print('Username has been already scraped today.')

1636400331.983
1636930662.225633

In [11]:
user_selection_list_containing_twitter_user = user_selection_list_containing_twitter_user[0]
user_selection_list_containing_twitter_user

'twitterdata\\cryptocobain 1424552429123670018.csv'